[submodule "modules/yolo_detection"]
	path = modules/yolo_detection
	url = https://github.com/ultralytics/yolov5.git
[submodule "modules/yolo_face_detection"]
	path = modules/yolo_face_detection
	url = https://github.com/elyha7/yoloface.git
